::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0d47a1;
}

::-webkit-scrollbar-thumb {
  background: #1763c0;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2878cf;
}
